/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #333; /* Dark background color */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #414141; /* Darker color for the scrollbar thumb */
}
ul#top li {
    float: left;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    /* display: ; */
}
#allDivId {
    /* position: relative; */
    /* top: 45vh; */
    margin-top: 70vh;
    margin-left: 5vw;
    animation-name: myAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
}
#bigText {
    font-size: 4vh;
    font-weight: bold;
}
#navigation {
    font-size: smaller;
}
#smallScreenNav {
    /* display: none;        Enable this after edit  */
}
ul#smallScreenNav li {
    text-align: right;
    font-weight: 490;
    padding-right: 10px;
    /* display: flex; */
    /* float: inline-end; */
    /* flex-direction: column; */
    /* float: right; */
}
#hideInBigScreen {
    display: none;
}
#hide {
    display: none;
}
@media screen and (max-width: 960px) {

    #spaceX {
        justify-content: center;
        width: 100%;
        /* margin: 0; */
    }

    #navigation {
        display: flex;
        justify-content: flex-start; /* Disable justify-content: center */
        /* flex-direction: row-reverse; */
    }
    #hideInBigScreen {
        display: block;
    }
    #hideInSmallScreen {
        display: none;
    }
}
@keyframes myAnimation {
    from{margin-top: 73vh;}
    to{margin-top: 70vh;}
}